1.Write a Python program to convert kilometers to miles?

In [2]:
a=float(input("enter distance in km :"))
b=a*0.62137
print("The distance (in miles) is",b)

enter distance in km :25
The distance (in miles) is 15.53425

2.Write a Python program to convert Celsius to Fahrenheit?

In [3]:
a=float(input("enter temperature in celsicus :"))
b=a*1.8+32
print(" temperature in Fahrenheit :",b)

enter temperature in celsicus :25
 temperature in Fahrenheit : 77.0

3.Write a Python program to display calendar?

In [8]:
import calendar
a=int(input("Enter year:"))
b=int(input("Enter month"))
print(calendar.calendar(a))
print(calendar.month(a,b))

Enter year:2022
Enter month10
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

    October 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

4.Write a Python program to solve quadratic equation?

In [11]:
import cmath
a=int(input("enter first coefficients of quadratic equation :"))
b=int(input("enter second coefficients of quadratic equation :"))
c=int(input("enter  third coefficients of quadratic equation :"))
d=(b*b)-(4*a*c)
print("one root is:",(-b-cmath.sqrt(d))/(2*a))
print("second root is:",(-b+cmath.sqrt(d))/(2*a))

enter first coefficients of quadratic equation :1
enter second coefficients of quadratic equation :5
enter  third coefficients of quadratic equation :6
one root is: (-3+0j)
second root is: (-2+0j)

5.Write a Python program to swap two variables without temp variable?

In [12]:
a=int(input("enter first number :"))
b=int(input("enter second number:"))
a=a*b
b=a/b
a=a/b
print("after swapping the numbers are :",a,b)

enter first number :5
enter second number:4
after swapping the numbers are : 4.0 5.0